<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <title>USER UPDATE</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/edit/{id} (id=${user.getId()})}" th:object="${user}">
    <input type="hidden" th:field="*{id}" />
    <label for="Username">Username</label>
    <input type="text" th:field="*{username}" id="Username">
    <br/>
    <label for="Password">Password</label>
    <input type="text" th:field="*{password}" id="Password">
    <br/>
    <label for="Age">Age</label>
    <input type="number" th:field="*{age}" id="Age">
    <br/>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${listRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </label>
    <br/>

    <input type="submit" value="update">
    <br/>
    <a href="/logout">Logout</a>

</form>
</body>
</html>